*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: "Augustea";
  src: url("../font/Augustea.ttf") format("truetype");
}
body {
  background: url("../img/diamond_upholstery.png");
}

.loading {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2B2625 url(../img/noise.png) repeat;
}
.loading__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 15px;
  height: 100%;
}
.loading__content__BT {
  max-width: 200px;
  margin-bottom: 10px;
}
.loading__content__quiz {
  max-width: 250px;
}
.loading__content__progress {
  background: #000;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: block;
  height: 10px;
  margin-bottom: 10px;
  padding: 0px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 300px;
}
.loading__content__progress > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: width 2s ease-out;
}

.container {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  height: auto;
  min-height: calc(100vh - 200px);
}
.home__logo {
  max-width: 200px;
  margin-bottom: 50px;
}
.home__intro {
  font-family: "Augustea", sans-serif;
  text-transform: uppercase;
  max-width: 350px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}
.home__button {
  padding: 20px;
  font-family: "Augustea", sans-serif;
  color: #fff;
  background: #6E665B;
  cursor: pointer;
}

.quiz {
  display: none;
}
.quiz__logo {
  max-width: 200px;
  margin-bottom: 50px;
}
.quiz__question {
  text-align: center;
}
.quiz__question__title {
  font-family: "Augustea", sans-serif;
  margin-bottom: 30px;
}
.quiz__question__text {
  margin-bottom: 20px;
}
.quiz__question__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}
.quiz__question__items input {
  width: 40%;
  margin: 10px;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 8px;
  background: #fff;
  color: #0c0c0c;
  font-size: 16px;
  transition: all 100ms linear;
}
.quiz__question__items input:checked {
  background: #6e665b;
  color: #fff;
  box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
  border: none;
}
.quiz__question__items input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}
.quiz__question__items .item-label {
  background: red;
  padding: 10px 20px;
  width: 100%;
  display: block;
}
.quiz__answer {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #2B2625 url(../img/noise.png) repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.quiz__answer__container {
  max-width: 350px;
}
.quiz__answer-open {
  display: flex;
  transform: translateY(0);
  transition: all 0.1s linear;
}
.quiz__answer-close {
  transform: translateY(-120%);
  transition: all 0.3s linear;
}
.quiz__answer__title {
  margin-bottom: 20px;
  color: #dcdcdc;
  font-size: 16px;
}
.quiz__answer__title-error {
  color: #f16363;
}
.quiz__answer__img {
  width: 100%;
}
.quiz__answer__next {
  padding: 20px 0;
  background: #6e665b;
  color: #c3c3c3;
  margin-top: 20px;
  cursor: pointer;
}

.score {
  padding: 0 15px;
}
.score__title {
  font-family: "Augustea", sans-serif;
  margin-bottom: 30px;
}
.score__final {
  padding: 10px;
  background: #fff;
  width: 250px;
  font-size: 16px;
  font-weight: bold;
  margin: 30px auto;
}
.score__final-answer {
  font-size: 36px;
  display: block;
}
.score__rejouer {
  padding: 20px;
  font-family: "Augustea", sans-serif;
  color: #fff;
  background: #6E665B;
  cursor: pointer;
}

.footer {
  background: #2B2625 url(../img/noise.png) repeat;
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.footer__link {
  color: #fff;
  opacity: 1;
}
.footer__link a {
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s linear;
  text-decoration: none;
}
.footer__link a:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
